@model FerryBookingModels.Car

@{
    ViewData["Title"] = "Car Details";
}

<h1>Car Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>
        <dt class="col-sm-2">
            Guests
        </dt>
        <dd class="col-sm-10">
            @foreach (var guest in Model.Guests)
            {
                @: @guest.Name (@guest.Gender) <br />
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
